/* header content */

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: auto;
    color: white;
}

nav li {
    margin: 5px;
}


.headlogo a {
    background-image: url("assets/adidas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 20px;
    width: 400px;
    display: inline-block;
    text-indent: -999999px;
}

nav ul, section.top, footer {
    background-color: #1F2937;
}

/* top section content */

section.top {
    display: flex;
    padding: 50px;
    justify-content: center;
}

section.top div {
    color: white;
    width: 300px;
}



section.top .image {
    background-image: url("assets/photo1.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: -9999999px;
}

/* top mid section */

section.topmid {
    text-align: center;
}

section.topmid div {
    display: flex;
    gap: 40px;
    justify-content: center;
}

section.topmid figure {
    width: 50px;
}

section.topmid figure img {
    height: 100px;
    border-radius: 10px;
    border: 3px solid #3882f6;
}

section.topmid figure figcaption {
    font-size: 10px;
}

/* low mid section */

section.lowmid {
    padding: 40px;
    background-color: #e5e7eb;
}

section.lowmid p {
    padding: 30px;
    text-align: left;
    font-size: 36px;
    font-style: italic;
}

section.lowmid div {
    text-align: right;
    margin-top: -60px;
    margin-right: 60px;
}

/* bottom section */

section.bottom .signup .text {
    margin: 40px 100px 40px 100px;
    background-color: #3882f6;
    text-align: left;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

section.bottom .button {
    color: red;
    position: relative;
    text-align: right;
    background-color: aqua;
    z-index: 20px;
    
}

footer {
    margin: auto;
    color: white;
    text-align: center;
    padding: 30px;
}