
.headlogo {
    background-image: url("assets/adidas.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
    height: 20px;
    width: 300px;
    flex-basis: 400px;
    text-indent: -9999999px;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    margin: auto;
    color: white;
}

nav li {
    margin: 5px;
}

nav ul, section.top {
    background-color: #1F2937;
}

section.top {
    display: flex;
    padding: 50px;
}

section.top div {
    color: white;
}


.image {
    background-image: url("assets/photo1.jpg");
    width: 100%;
    background-position: center;
    background-size: 50%;
    background-repeat: no-repeat;
    text-indent: -9999999px;
}